*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: left;
	margin-bottom: 30px;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 15px;
}
a{
	text-decoration: none;
	color: black;
}
p{
	color: #555;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px
}
body{
margin: 0;
padding: 0; 
background-position: center; 
background-size: cover;
font-family: sans-serif;
}

.shipping{
padding-top: 100px;
width: 1000px;
height: 1050px; 
background: #000; 
color: #e6b3b3; 
left: 50%; 
position: absolute; 
transform: translate(-50%, -50%); 
box-sizing: border-box;
top: 95%;
padding: 40px 40px;
border-radius: 20px;
}
.shipping p{
margin: 0;
padding: 0;
}
.shipping input{
width: 100%;
margin-bottom: 30px;
}
.shipping input[type="text"], input[type="password"] {
border: none;
border-bottom: 1px solid #fff; 
background: transparent; 
outline: none; 
height: 40px;
color: #fff;
font-size: 16px;
}
.shipping input[type="submit"]{
border: none;
outline: none;
height:40px;
background: #ff0066;
color: #660033;
font-size: 18px;
border-radius: 20px;
}
.shipping a{
text-decoration: none;
font-size: 12px; 
line-height: 20px;
color: darkgrey;
}

