*{
margin:0;
padding:0;
}
body{
font-family: sans-serif;
}
.navbar{
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	padding: 40px;
}
nav{
	flex: 1;
	text-align: left;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 15px;
}
a{
	text-decoration: none;
	color: black;
}
.blekh{
	max-width: 1200px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px
}
.length{
flex-wrap: wrap;
align-items:center;
display: flex;
justify-content:space-around;
}
.cart{
background: #e6005c;
border-radius:50px;
color: black;
font-size: 15px;
font-weight: bolder;
border: 2px solid black;
}
.cart i{
position: absolute;
margin-left: 90px;
column-fill: transparent;
transition: 400ms;
color: transparent;
}
.cart span{
transition: 400ms;
}
.cart:hover span{
margin-right: 30px;
}
.cart:hover i{
margin-left: 45px;
column-fill: white;
color: black;
}
button:focus{
outline: none;
}
.oneline{
flex-basis:50%;
min-width:300px;
text-align:center;
}
.oneline img{
max-width:100%;
padding:50px 0;   
}
.oneline h1{
font-size:50px;
line-height:60px;
margin:25px 0;
}

.twoline{
flex-basis:25%;
padding:10px;
min-width:200px;
margin-bottom:50px;
transition:transform 0.5S;
}
.twoline img{
width:100%;
}
.twoline:hover{
transform: translateY(-5px);
}
.twoline h3{
color:black;
font-size:18px;    
}
.twoline p{
font-size:15px;
}
.sale{
margin-top:10px;
padding:10px;
}
.col-2 .offer-img{
padding:10px;
}