body{
margin: 0;
padding: 0; 
background-position: center;
background: url(w.jpg); 
background-size: cover;
font-family: sans-serif;
}

.navbar{
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	padding: 0px;
}
nav{
	flex: 1;
	text-align: left;
	margin-bottom: 0px;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 15px;
}
a{
	text-decoration: none;
	color: black;
}

.loginbox{
width: 320px;
height: 470px; 
background: #000; 
color: #e6b3b3; 
left: 50%; 
position: absolute; 
transform: translate(-50%, -50%); 
box-sizing: border-box;
top: 60%;
padding: 70px 30px;
border-radius: 20px
}

.uhmm{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

.loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
}

.loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
border: none;
border-bottom: 1px solid #fff; 
background: transparent; 
outline: none; 
height: 40px;
color: #fff;
font-size: 16px;
}

.loginbox input[type="submit"]{
border: none;
outline: none;
height:40px;
bbackground: #ff0066;
color: #660033;
font-size: 18px;
border-radius: 20px;
}

.loginbox input:hover{
cursor: pointer; 
background: #ff0066;
color: #ff006;
}

.loginbox a{
text-decoration: none;
font-size: 12px; 
line-height: 20px;
color: darkgrey;
}

.loginbox a:hover{
color: #ff0066;
}