*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: left;
	margin-bottom: 30px;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 15px;
}
search{
	width: 100px;
}

a{
	text-decoration: none;
	color: black;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px
}
.categories{
	max-width: 1080px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.categories::after{
	content: '';
	background: #555;
	width: 135px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: -1%;
	left: 4%;
	transform: traslateX(-50%);
}
.col-5{
	flex-basis: 25%;
	min-width: 200px;
	min-width: 200px;
	margin-bottom: 30px;
	float: left;
	width: 20%;
	padding: 5px;
}
.row::after{
	content:"";
	display: table;
}
.categories1{
	max-width: 1080px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.col-3{
	flex-basis: 25%;
	min-width: 200px;
	min-width: 200px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	float: left;
	width: 20%;
	padding: 5px;
}
.row2::after{
	content:"";
	display: table;
}